

Vi Tips

Esc

: w / wq! / q! / ZZ == sair e salvar


dd == recortar
p == cola na linha de baixo
P == cola na linha de cima

i == insert
I ==
x == apaga a esqeurda
X == apaga a direita
u == desfazer
a == inserir depois da linha esqeurda
A == insetir no final da linha
k == cima
l == direita
k == esquerda
i == baixo


h == esquerda
j == baixo
k == Cima
l == direita



















